[submodule "posts/project-euler"]
	path = content/posts/project-euler
	url = https://github.com/ltiao/project-euler.git
[submodule "posts/notes/notebooks"]
	path = content/notes/notebooks
	url = https://github.com/ltiao/notebooks.git
