[submodule "posts/notebooks"]
	path = posts/notes/notebooks
	url = https://github.com/ltiao/notebooks.git
[submodule "posts/project-euler"]
	path = posts/project-euler
	url = https://github.com/ltiao/project-euler.git
