lxml==3.7.0

# Nikola
nikola

# Webasset bundles
webassets

# Template Rendering
jinja2

# Render IPython Notebook articles
jupyterlab

# Automatic detect changes/rebuilds
ws4py
watchdog

# Deploy to Github Pages 
ghp-import
